* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes zoom {
    0% {
        width: 40px;
        height: 40px;
    }
    50% {
        width: 43px;
        height: 43px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

body {
    background-color: #eee;
    position: relative;
}

#top-area {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    & div {
        position: relative;
        margin: 20px;
        width: 40px;
        height: 40px;
        border: none;
        transition: 0.3s;
        transform: scale(1) rotate(0deg);
        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #fff;    
            border-radius: 50%;
            filter: blur(8px);
            z-index: -1;
        }
        & svg {
            filter: contrast(0);
            opacity: .7;
        }
        & .animate {
            transform: scale(1.2) rotate(5deg);
        }
    }
}

.block {
    margin: 10px;
    background-color: #0001;
    padding: 10px;
    border: solid 1px #0001;
    border-radius: 15px;
}

.aside-settings {
    border-radius: 15px;
    border: solid 1px #7771;
    padding: 10px;
    top: 0;
    left: 0;
    position: fixed;
    width: 50vw;
    transform: translate(-50%,10px) scaleX(0);
    max-width: 200px;
    background-color: #fff8;
    backdrop-filter: blur(10px);
    transition: .3s;
    & svg {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        width: 30px;
        height: 30px;
        filter: contrast(0);
    }
    & .show {
        transform: translate(0%,10px) scaleX(1);
    }
}

header { 
    text-align: center;
    & h2 {
        padding: 15px;
        margin: 60px 15px 40px 15px;
    }
    & input {
        width: 80vw;
        max-width: 500px;
        text-align: left;
        font-size: larger;
        margin: 5px;
        padding: 10px;
        background-color: #fff;
        border: solid 1.5px #7f7f7f44;
        border-radius: 10px;
    }
}


.send-bnt-area {
    text-align: center;
    & button {
        background-color: #3282e4;
        border: none;
        color: white;
        font-size: larger;
        padding: 7px 15px;
        margin: 20px;
        border-radius: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

/*
@media (hover: none) {
    #top-area button:hover {
        animation: zoom 0.5s;
    }
}*/